In [18]:
# exp 1 - mean, median, mode
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("nvidia_stock_prices.csv")
df.describe()
num_df = df.select_dtypes(include='number')
num_df.describe()

              Open         High          Low        Close        Volume
count  5033.000000  5033.000000  5033.000000  5033.000000  5.033000e+03
mean      5.214671     5.308604     5.117086     5.217039  5.587962e+08
std       9.643976     9.811276     9.465058     9.644928  3.363408e+08
min       0.080583     0.083917     0.077500     0.078583  4.564400e+07
25%       0.344000     0.349000     0.336500     0.343250  3.482920e+08
50%       0.544000     0.552750     0.532500     0.542000  4.910920e+08
75%       5.233750     5.296500     5.125000     5.229000  6.816760e+08
max      50.216000    50.548000    49.411999    50.409000  5.088948e+09

In [20]:
#mean
print(df['High'].mean()) #single col
print(df[['High','Low']].mean()) #specific col

print(num_df.mean()) #all col

5.308604321774327
High    5.308604
Low     5.117086
dtype: float64
Open      5.214671e+00
High      5.308604e+00
Low       5.117086e+00
Close     5.217039e+00
Volume    5.587962e+08
dtype: float64

In [21]:
#median
print(df['High'].median())

print(df[['High','Low']].median())

print(num_df.median())

0.5527499914169312
High    0.55275
Low     0.53250
dtype: float64
Open      5.440000e-01
High      5.527500e-01
Low       5.325000e-01
Close     5.420000e-01
Volume    4.910920e+08
dtype: float64

In [22]:
#mode
print(num_df['High'].mode())

print(num_df[['High','Low']].mode())

print(num_df.mode())

0    0.37175
Name: High, dtype: float64
      High     Low
0  0.37175  0.3595
    Open     High     Low    Close       Volume
0  0.314  0.37175  0.3595  0.36100  503448000.0
1    NaN      NaN     NaN  0.49475          NaN

In [25]:
#quartile
print(num_df['High'].quantile(0.25))
print(num_df['High'].quantile(0.50))
print(num_df['High'].quantile(0.75))

print(num_df[['High','Low']].quantile(0.75))

print(num_df.quantile(0.75))

0.3490000069141388
0.5527499914169312
5.296500205993652
High    5.2965
Low     5.1250
Name: 0.75, dtype: float64
Open      5.233750e+00
High      5.296500e+00
Low       5.125000e+00
Close     5.229000e+00
Volume    6.816760e+08
Name: 0.75, dtype: float64

In [31]:
#percentile
print(np.percentile(num_df['High'], 1))
print(np.percentile(num_df['Low'], 69))
print(np.percentile(num_df, 69))

0.124499998986721
3.7680598926544193
13.627249717712402

In [35]:
#iqr
q1, q3 = np.percentile(num_df['Close'], [25,75])
iqr = q3-q1
print(iqr)

4.885750085115433

In [38]:
#range
range_df = df['Volume'].max() - df['Volume'].min()
print(range_df)

5043304000

In [40]:
#sd and var
print(df['High'].std())
print(df['High'].var())

9.81127601553815
96.26113705307417